:root{
    --gris:#F0F1F2; 
    --verde1:#01261C;
    --verde2:#025949;
    --verde3:#038C73; 
    --verde4:#2CC186;
    
    /*--fuenteprincipal: 3.8rem*/
}
html{
    font-size: 62.5%;
}

body{
    font-size: 16px;/*1 rem=10px*/
    font-family: "Montserrat", sans-serif;
}

.titulo {
    text-align: center;
    font-size: 3.8rem;
    /*font-size: var(--fuenteprincipal);*/
    /*color: var(--verde1);*/
    
  }

.titulo span{
    font-size: 2rem;
}

.contenedor{
    width: 120rem;/*1200px*/
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;Es lo mismo de la linea de abajo*/
    /*margin: 0 auto 0 auto; se puede dejar como esta abajo*/
    margin: 0 auto
}

.nav-bg
{
    background-color: var(--verde1);
}

.navegacion-principal{
    
    display: flex;
    justify-content: space-evenly;
}

.navegacion-principal a{
    color:var(--gris);
    text-decoration: none;   
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacion-principal a:hover{
    background-color: var(--gris);
    color: var(--verde1);
}
